
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include "global/parciais/head.html" %}
    <title> {% block titulo %}{% endblock titulo %} Livros</title>
</head>
<body>
    {% include 'global/parciais/menu.html' %}

    {% include "global/parciais/header.html" %}
    {% include "global/parciais/pesquisa.html" %}
    
    <main class="main-conteudo-container">
        {% block conteudo %}{% endblock conteudo %}

        {% include "global/parciais/paginaçao.html" %}
    </main>
    {% include "global/parciais/roda_pe.html" %}
    <script src="{% static 'global/js/scripts.js' %}"></script>

</body>

</html>