{% if livros.has_other_pages %}

    <div class="container pagination">
        <div class="pagination-content">
            {% if pagination_range.primeira_pagina_fora_do_intervalo %}
                <a class="page-link page-item" href="?page=1{{adicional_url}}">1</a>
                <span class="page-item">...</span>
            {% endif %}

            {% for page in pagination_range.paginacao %}
                {% if pagination_range.pagina_atual == page %}
                    <a href="?page={{page}}{{adicional_url}}" class="pagina_atual page-link page-item ">{{page}}</a>
                {% else %} 
                    <a href="?page={{page}}{{adicional_url}}" class="page-link page-item">{{page}}</a>
                {% endif %}

            {% endfor %}

            {% if pagination_range.ultima_pagina_fora_do_intervalo %}
                <span class="page-item">...</span>
                <a class="page-link page-item" href="?page={{pagination_range.total_paginas}}{{adicional_url}}">{{pagination_range.total_paginas}}</a>
            {% endif %}
        </div>
    </div>
{% endif %}