<div class="livro teste livro-lista-item">
    <div class="livro-capa">
        <a href="{{ livro.get_absolute_url }}">
            <img src="{{livro.capa.url}}" alt="Temporário">
        </a>
    </div>
    <div class="livro-titulo-container">
        <a href="{{ livro.get_absolute_url }}">
            <h2 class="livro-titulo">{{livro.titulo}}</h2>
        </a>
    </div>

    <div class="livro-author">
        {% if livro.author.username is not None %}
            <span class="livro-author-item nome">
                <i class="fas fa-user"></i>
                {{livro.author.username}}
            </span>
        {% else %}
            <span class="livro-author-item nome">
                <i class="fas fa-user"></i>
                Desconhecido
            </span>
        {% endif %}
        

        <span class="livro-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{ livro.criado_em|date:"d/m/Y" }} às {{ livro.criado_em|date:"H:i" }}
        </span>
        {% if livro.category is not None %}
            <span class="livro-author-item">
                <a href="{% url 'livros:category' livro.category.id %}">
                    <i class="fas fa-layer-group"></i>
                    <span>{{livro.category.name}}</span>
                </a>
            </span>
        {% endif %}

    </div>
    <div class="livro-content">
        <p>{{ livro.descricao1 }}</p>
    </div>
    {% if detalhe_da_pagina is not True %}
        <footer class="livro-footer">
            <a class="" href="{% url 'livros:livro' livro.id %}">
                <i class="fas fa-eye"></i>
                <span>ver mais...</span>
            </a>
        </footer>
    {% endif %}
    {% if detalhe_da_pagina is True %}
        <div class="mais-detalhe-do-livro">
            {{livro.descricao2|linebreaksbr}}
        </div>
    {% endif %}
</div>
